<h1>What is Bootcamp Bucks?</h1>
<p>Bootcamp Bucks was created by a team of n00bs from the DevPoint Labs Winter 2014 class. As much as we wanted to learn Ruby on Rails, we felt the pain of the finanical responsibility to take a development bootcamp. Our goal is to lower the barrier to entry for more students to gain a working knowledge of the technology software skills needed to succeed in today's work environment. Bootcamp Bucks is located in Salt Lake City, UT.</p>
