<h1>Terms of Use</h1>
<p>Thank you for using www.bootcampbucks.com (the "Website"). By using this Website, you are agreeing to be bound by the Terms of Use described below, so please read them very carefully. IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS OF USE, YOU MAY NOT ACCESS OR USE THE WEBSITE. These Terms of Use are provided on behalf of Bootcamp Bucks, Inc. ("Bootcamp Bucks", "we", or "us").
</p>

<h2>Privacy</h2>
<p>Your privacy is very important to us. Our privacy policy explains how we treat your personal information and protect your privacy when you use our Website. We will not share or sell any of your information with any third party, except as specifically described in our privacy policy, which is hereby incorporated by reference into these Terms of Use.</p>

<h2>Information Sharing and Social Features</h2>
<p>You may have the opportunity to share content or information, including, but not limited to, your name, email address, or other information that you provide via the Website, with other users of the Website. By sharing information or content on the Website, you expressly agree to all of the following:</p>

<p>You grant Bootcamp Bucks a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any information or content that you post on or in connection with your use of the Website, subject to the privacy provisions described in our privacy policy.
You understand that deleted content or information may continue to exist on our servers or in backup copies that we maintain for our own use.
You will not post content or take any action on the Website that may constitute libel or slander, infringes or violates someone else's rights, that is protected by any copyright or trademark, or otherwise violates the law.
Content and information that you share will be available to other users of our Website. You understand that such third parties may access, use, store and transfer such content and information and to associate it with you.
You agree that you will not use the Website for commercial purposes.
We may remove any content or information that you share on the Website for any reason.
You agree that you will not use any device, software or routine to interfere or attempt to interfere with the proper working of the Website or any transaction being conducted on our Website.</p>

<h2>Loan Pre-Registrations and Applications</h2>
<p>You may be presented with the opportunity to pre-register and/or apply for a loan through the Website. When pre-registering or applying for a loan on the Website, you agree to provide current, complete, and accurate information about yourself. If any information you provide is untrue, inaccurate, not current, or incomplete, Bootcamp Bucks has the right to terminate your loan pre-registration and/or application and to decline to provide any and all future use of the Website. We reserve the right to decline your application for a loan.</p>

<h2>Your Account</h2>
<p>You may be required to create an Account to use of the certain parts of the Website. When you create an account, you will be required to pick a user name and a password. You may not disclose your user name or password to any third party. If you learn of any unauthorized use of your password or account, please contact us immediately.</p>

<h2>Changes and Modifications</h2>
<p>Bootcamp Bucks reserves the right to temporarily or permanently modify or discontinue the Website, or any portion of the Website, for any reason, at our sole discretion, and without notice to you. Bootcamp Bucks may also change the Terms of Use from time to time without notice to you. Please review these Terms of Use from time to time, because your continued access or use of the Website after any modifications have become effective shall be deemed your conclusive acceptance of the modified Terms of Use.</p>

<h2>Links</h2>
<p>This Website may contain links to websites maintained by non-affiliated third parties. Such websites may have Terms of Use, Privacy Policies, or security practices that are different from those of Bootcamp Bucks. Bootcamp Bucks does not endorse or recommend, and hereby disclaims any liability for, any information or products offered at such websites.</p>

<h2>No Warranty</h2>
<p>Bootcamp Bucks does not warrant the accuracy, adequacy or completeness of the information provided herein and expressly disclaims liability for any errors or omissions in such information. No warranty of any kind, implied, expressed or statutory including but not limited to the warranties of non-infringement of third party rights, title, merchantability, fitness for a particular purpose and freedom from computer virus, is given in conjunction with the information. Calculators and tools on the Site provide you with ESTIMATES that may be different than actual amounts.</p>

<h2>Limitation of Liability</h2>
<p>You agree that all access and use of the Website and its contents is at your own risk. In no event shall Bootcamp Bucks be held liable for any damages, including without limitation direct or indirect, special, incidental, or consequential damages, losses or expenses arising in connection with the Website or any linked site or use thereof or inability to use by any party, or in connection with any failure of performance, error, omission, interruption, defect, delay in operation or transmission, computer virus or line or system failure, even if Bootcamp Bucks, or representatives thereof, are advised of the possibility of such damages, losses or expenses.</p>

<h2>Privacy</h2>
<p>Our privacy policy explains how we treat your personal information and protect your privacy when you use our Website. Our privacy policy is hereby incorporated by reference into these Terms of Use.</p>

<h2>Applicable Law</h2>
<p>You agree to abide by all applicable local, state, national, and international laws and regulations in your use of the Website. Our Website is available only to individuals who are permitted to use it under applicable law. If you do not qualify, please do not use our Website. You agree to be solely responsible for your actions and the contents of your transmissions through the Website. You agree not to impersonate any person or entity or falsely state or otherwise misrepresent your identity or affiliation with a person or entity. You represent and warrant that you possess the legal right and ability to enter into these Terms of Use and to use the Website in accordance with these Terms of Use. Unauthorized use of this Website, including but not limited to unauthorized entry into Bootcamp Bucks’ systems, misuse of passwords, or misuse of any information posted on a site, is strictly prohibited.</p>

<p>These Terms of Use shall be governed in all respects by the substantive laws of the State of Utah, without regard to its provisions relating to conflict of laws. You and Bootcamp Bucks agree to submit to the personal and exclusive jurisdiction and venue of the state and federal courts located within Salt Lake County, Utah. The failure of Bootcamp Bucks to exercise or enforce any right or provision of the Terms of Use shall not constitute a waiver of such right or provision. If any provision of the Terms of Use is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of the Terms of Use remain in full force and effect. You agree that regardless of any statute, regulation, or law to the contrary, any claim or cause of action arising out of or related to use of the site or the Terms must be filed within one (1) year after such claim or cause of action arose or be forever barred.</p>

<p>Please direct all questions or comments about these Terms of Use to info@bootcampbucks.com</p>

<p>COPYRIGHT © Bootcamp Bucks, Inc. ALL RIGHTS RESERVED.</p>

<p>Bootcamp Bucks owns the copyright in all of the information and material contained in this Website. The contents of the website, including its "look and feel" (e.g., text, graphics, images, logos, and button icons), editorial content, notices, software (including html-based computer programs), and other material are protected under both United States and foreign copyright, patent, trademark, and other laws. Your right to use the Website is personal to you. You agree not to reproduce, duplicate, copy, sell, resell, use or exploit for any commercial purposes, the Website or use of or access to the Website or any information or technology obtained from the Website.</p>
