@import "bootstrap_and_overrides";

body{
   background:url('bgimage.jpg') no-repeat center center;
   /* Workaround for some mobile browsers */
   margin-top: fixed;
   background-attachment: fixed;
}

.jumbotron{
  margin-top: 10%;
  margin-bottom: 10%;
}
