@import "bootstrap_and_overrides";

body{
   background:url('bgimage.jpg') no-repeat center center;
   /* Workaround for some mobile browsers */
   min-height:100%;
   margin-top: fixed;
   background-size: 100%;
}


.jumbotron{
  margin-top: 10%;
  margin-bottom: 10%;
}
