<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Terms of Service", static_pages_terms_of_service_path %></li>
      <li><%= link_to "Privacy Policy", static_pages_privacy_policy_path %></li>
    </ul>
  </div>
</nav>
