<section id="content">
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: name %>
  <% end %>
      <div class="container">
      <div class="jumbotron"
      <%= yield %>
    </div>
  </div>